[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
#pshtt = "*"
#pshtt = "0.7.1"
#pshtt = { git = "https://github.com/cisagov/pshtt", editable = true }
pshtt = { git = "https://github.com/jauderho/pshtt", editable = true }
#sslyze = { git = "https://github.com/jauderho/sslyze", editable = true }
#pshtt = { git = "https://github.com/cisagov/pshtt", editable = true, ref="v0.6.10" }
cryptography = "*"

[dev-packages]

[requires]
python_version = "3"
