[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#pshtt = "*"
#pshtt = "0.6.10"
#pshtt = { git = "https://github.com/cisagov/pshtt", editable = true, ref="v0.6.10" }
pshtt = { git = "https://github.com/cisagov/pshtt", editable = true, ref="v0.6.6" }
#openbbterminal = { git = "https://github.com/OpenBB-finance/OpenBBTerminal.git", editable = true, ref="v2.2.0" }

[dev-packages]

#[requires]
#python_version = "3"
