[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
#ilab = "*"
ilab = { git = "https://github.com/instructlab/instructlab", editable = true }
#ilab = { git = "https://github.com/instructlab/instructlab", editable = true, ref="v0.14.1" }
#ilab = { git = "https://github.com/instructlab/instructlab", editable = true, ref="stable" }

[dev-packages]

[requires]
python_version = "3"
