# Workaround for https://github.com/dependabot/dependabot-core/issues/2178
-r aranet4/requirements.txt
-r autoflake/requirements.txt
-r awscli/requirements.txt
-r bgperf2/requirements.txt
-r cantools/requirements.txt
-r chatgpt-linux-assistant/requirements.txt
-r codespell/requirements.txt
-r datasette/requirements.txt
-r deepdiff/requirements.txt
-r dnsdiag/requirements.txt
-r dnsrecon/requirements.txt
-r dnstwist/requirements.txt
-r dnsvalidator/requirements.txt
-r finanace_dl/requirements.txt
-r gallery-dl/requirements.txt
-r greynoise/requirements.txt
-r hdbcli/requirements.txt
-r huggingface-cli/requirements.txt
-r internetarchive/requirements.txt
-r jc/requirements.txt
-r llm/requirements.txt
-r memray/requirements.txt
-r openbbterminal/requirements.txt
-r paperless-ngx/requirements.txt
-r pip-audit/requirements.txt
-r prowler/requirements.txt
-r pshtt/requirements.txt
-r punica/requirements.txt
-r pwnagotchi/requirements.txt
-r pyaranet4/requirements.txt
-r python-matter-server/requirements.txt
-r pyupgrade/requirements.txt
-r ruff/requirements.txt
-r scrapeghost/requirements.txt
-r sgpt/requirements.txt
-r shodan/requirements.txt
-r ssh-mitm/requirements.txt
-r wolverine/requirements.txt
