[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
fire = "*"
flake8 = "*"
frozenlist = "*"
idna = "*"
mccabe = "*"
multidict = "*"
openai = "*"
pycodestyle = "*"
pyflakes = "*"
requests = "*"
six = "*"
termcolor = "*"
tqdm = "*"
urllib3 = "*"
yarl = "*"
wolverine = "*"

[dev-packages]

[requires]
python_version = "3"
