-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2024.12.14
charset-normalizer==3.4.1
filelock==3.17.0
fsspec==2024.12.0
huggingface-hub[cli]==0.28.0
idna==3.10
inquirerpy==0.3.4
packaging==24.2
pfzy==0.3.4
prompt-toolkit==3.0.50
pyyaml==6.0.2
requests==2.32.3
tqdm==4.67.1
typing-extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
