-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2024.8.30
charset-normalizer==3.3.2
filelock==3.16.1
fsspec==2024.9.0
huggingface-hub[cli]==0.25.0
idna==3.10
inquirerpy==0.3.4
packaging==24.1
pfzy==0.3.4
prompt-toolkit==3.0.47
pyyaml==6.0.2
requests==2.32.3
tqdm==4.66.5
typing-extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
