[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
#deepdiff = "*"
deepdiff = {extras = ["cli","optimize"], version = "*"}
clevercsv = "*"
tomli-w = "*"

[dev-packages]

#[requires]
#python_version = "3"
