-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
chardet==5.2.0
clevercsv==0.8.3
click==8.1.7
deepdiff[cli,optimize]==8.1.1
orderly-set==5.2.3
orjson==3.10.13
packaging==24.2
pyyaml==6.0.2
regex==2024.11.6
tomli-w==1.1.0
