[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
dnsvalidator = { git = "https://github.com/vortexau/dnsvalidator.git", editable = true }
requests = "*"
dnspython = "*"
colorclass = "*"
netaddr = "*"
ipaddress = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
