-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
colorclass==2.2.2; python_version >= '2.6'
dnspython==2.5.0; python_version >= '3.8'
idna==3.6; python_version >= '3.5'
netaddr==1.1.0; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
urllib3==2.2.0; python_version >= '3.8'
