-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.15
aiosignal==1.3.2
alembic==1.15.2
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.9.0
attrs==25.3.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cohere==5.14.0
cryptography==44.0.2
dataclasses-json==0.6.7
defusedxml==0.7.1
distro==1.9.0
fastapi==0.115.12
fastavro==1.10.0
filelock==3.18.0
filetype==1.2.0
frozenlist==1.5.0
fsspec==2025.3.2
google-ai-generativelanguage==0.6.6
google-api-core[grpc]==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.69.2
greenlet==3.1.1
grpcio==1.71.0
grpcio-status==1.62.3
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.30.1
idna==3.10
jiter==0.9.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.17
langchain-anthropic==0.1.23
langchain-cohere==0.1.9
langchain-community==0.2.19
langchain-core==0.2.43
langchain-experimental==0.0.65
langchain-google-genai==1.0.10
langchain-mistralai==0.1.13
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langchain-together==0.1.5
langsmith==0.1.147
mako==1.3.9
markupsafe==3.0.2
marshmallow==3.26.1
multidict==6.3.0
mypy-extensions==1.0.0
notdiamond[create]==0.4.2
numpy==1.26.4
openai==1.60.2
orjson==3.10.16
packaging==24.2
pandas==2.2.3
propcache==0.3.1
proto-plus==1.26.1
protobuf==4.25.6
psycopg-binary==3.2.6
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.11.1
pydantic-core==2.33.0
pydantic-partial==0.5.5
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart[rag]==0.0.18
pytz==2025.2
pyyaml==6.0.2
r2r==3.5.6
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.40
starlette==0.46.1
tabulate==0.9.0
tenacity==8.5.0
tiktoken==0.8.0
tokenizers==0.21.1
toml==0.10.2
tqdm==4.67.1
types-aiofiles==24.1.0.20250326
types-requests==2.32.0.20250328
typing-extensions==4.13.0
typing-inspect==0.9.0
typing-inspection==0.4.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
yarl==1.18.3
