[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
pycryptodome = "*"
requests = "*"
pyyaml = "*"
scapy = "*"
gym = "*"
scipy = "*"
#stable-baselines = "*"
#tensorflow = "*"
#tensorflow-estimator = "*"
tweepy = "*"
file-read-backwards = "*"
numpy = "*"
inky = "*"
smbus2 = "*"
pillow = "*"
spidev = "*"
gast = "*"
flask = "*"
flask-cors = "*"
flask-wtf = "*"
#dbus-python = "*"
toml = "*"
python-dateutil = "*"
websockets = "*"
importlib-metadata = "*"

[dev-packages]

#[requires]
#python_version = "3"
