
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
pycryptodome = "*"
requests = "*"
pyyaml = "*"
scapy = "*"
gym = "*"
scipy = "*"
#stable-baselines = "2.8.0"
#stable-baselines3 = "*"
#tensorflow = "2.13.0"
#tensorflow = "2.12.0"
tensorflow = "*"
tensorflow-estimator = "*"
tweepy = "*"
file-read-backwards = "*"
numpy = "*"
inky = "*"
smbus2 = "*"
pillow = "*"
spidev = "*"
gast = "*"
flask = "*"
flask-cors = "*"
flask-wtf = "*"
#dbus-python = "1.2.16"
toml = "*"
python-dateutil = "*"
websockets = "*"
#importlib-metadata = "*"
#keras_preprocessing = "*"

[dev-packages]

#[requires]
#python_version = "3"
