-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
absl-py==2.0.0; python_version >= '3.7'
astunparse==1.6.3
blinker==1.6.3; python_version >= '3.7'
cachetools==5.3.2; python_version >= '3.7'
certifi==2023.7.22; python_version >= '3.6'
charset-normalizer==3.3.1; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cloudpickle==3.0.0; python_version >= '3.8'
file-read-backwards==3.0.0
flask==3.0.0; python_version >= '3.8'
flask-cors==4.0.0
flask-wtf==1.2.1; python_version >= '3.8'
flatbuffers==23.5.26
gast==0.5.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-auth==2.23.3; python_version >= '3.7'
google-auth-oauthlib==1.0.0; python_version >= '3.6'
google-pasta==0.2.0
grpcio==1.59.2; python_version >= '3.7'
gym==0.26.2; python_version >= '3.6'
gym-notices==0.0.8
h5py==3.10.0; python_version >= '3.8'
idna==3.4; python_version >= '3.5'
inky==1.5.0
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.2; python_version >= '3.7'
keras==2.14.0; python_version >= '3.9'
libclang==16.0.6
markdown==3.5; python_version >= '3.8'
markupsafe==2.1.3; python_version >= '3.7'
ml-dtypes==0.2.0; python_version >= '3.7'
numpy==1.26.1; python_version < '3.13' and python_version >= '3.9'
oauthlib==3.2.2; python_version >= '3.6'
opt-einsum==3.3.0; python_version >= '3.5'
packaging==23.2; python_version >= '3.7'
pillow==10.1.0; python_version >= '3.8'
protobuf==4.24.4; python_version >= '3.7'
pyasn1==0.5.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycryptodome==3.19.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyyaml==6.0.1; python_version >= '3.6'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rsa==4.9; python_version >= '3.6' and python_version < '4'
scapy==2.5.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'
scipy==1.11.3; python_version < '3.13' and python_version >= '3.9'
setuptools==68.2.2; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smbus2==0.4.3
spidev==3.6
tensorboard==2.14.1; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.14.0; python_version >= '3.9'
tensorflow-estimator==2.14.0; python_version >= '3.7'
tensorflow-io-gcs-filesystem==0.34.0; python_version < '3.12' and python_version >= '3.7'
termcolor==2.3.0; python_version >= '3.7'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
tweepy==4.14.0; python_version >= '3.7'
typing-extensions==4.8.0; python_version >= '3.8'
urllib3==2.0.7; python_version >= '3.7'
websockets==12.0; python_version >= '3.8'
werkzeug==3.0.1; python_version >= '3.8'
wheel==0.41.3; python_version >= '3.7'
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
wtforms==3.1.0; python_version >= '3.8'
