-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
-e git+https://github.com/ARPSyndicate/puncia.git@b75b15925184221e50707cb0ee1608ab3923b434#egg=puncia
requests==2.32.3
urllib3==2.2.3
