-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
idna==3.6; python_version >= '3.5'
-e git+https://github.com/ARPSyndicate/puncia.git@e6bb3fd4998c62fb73c0d3844e894bb6a6bc7537#egg=puncia
requests==2.31.0; python_version >= '3.7'
urllib3==2.2.1; python_version >= '3.8'
