-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
jc==1.25.2; python_version >= '3.6'
pygments==2.17.2; python_version >= '3.7'
ruamel.yaml==0.18.6; python_version >= '3.7'
ruamel.yaml.clib==0.2.8; python_version < '3.13' and platform_python_implementation == 'CPython'
xmltodict==0.13.0; python_version >= '3.4'
