-i https://pypi.org/simple
jc==1.22.5
pygments==2.14.0 ; python_version >= '3.6'
ruamel.yaml==0.17.21 ; python_version >= '3'
ruamel.yaml.clib==0.2.7 ; python_version < '3.11' and platform_python_implementation == 'CPython'
xmltodict==0.13.0 ; python_version >= '3.4'
