[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
dnsrecon = { git = "https://github.com/darkoperator/dnsrecon.git", editable = true }
dnspython = "*"
netaddr = "*"
lxml = "*"
flake8 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
