-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
dnspython==2.6.1; python_version >= '3.8'
flake8==7.0.0; python_full_version >= '3.8.1'
lxml==5.1.0; python_version >= '3.6'
mccabe==0.7.0; python_version >= '3.6'
netaddr==1.2.1; python_version >= '3.7'
pycodestyle==2.11.1; python_version >= '3.8'
pyflakes==3.2.0; python_version >= '3.8'
