[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
paperless-ngx = { git = "https://github.com/paperless-ngx/paperless-ngx.git", editable = true }

[dev-packages]

[requires]
python_version = "3"
