[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
openbbterminal = { git = "https://github.com/OpenBB-finance/OpenBBTerminal.git", editable = true }
langchain = "0.0.225"

[dev-packages]

[requires]
python_version = "3"
