[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
#openbb = { git = "https://github.com/OpenBB-finance/OpenBBTerminal.git", editable = true }
#openbb = { git = "https://github.com/OpenBB-finance/OpenBBTerminal.git", editable = true, ref = "develop" }
#openbb-cli = { git = "https://github.com/OpenBB-finance/OpenBBTerminal.git", editable = true, ref = "develop" }
openbb-cli = "*"
#openbb = "*"
grpcio = "*"
langchain = "*"
tornado = "*"
distutils = "*"
wheel = "*"

[dev-packages]

#[requires]
#python_version = "3"
