-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
jinja2==3.1.4
linkify-it-py==2.0.3
markdown-it-py[linkify,plugins]==3.0.0
markupsafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
memray==1.14.0
platformdirs==4.3.6
pygments==2.18.0
rich==13.9.3
textual==0.84.0
typing-extensions==4.12.2
uc-micro-py==1.0.3
