-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
aranet4==2.2.3
bleak==0.21.1; python_version < '3.13' and python_version >= '3.8'
certifi==2023.11.17; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
dbus-fast==2.21.1; platform_system == 'Linux'
idna==3.6; python_version >= '3.5'
requests==2.31.0; python_version >= '3.7'
urllib3==2.1.0; python_version >= '3.8'
