[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
shell_gpt = { git = "https://github.com/TheR1D/shell_gpt.git", editable = true }
typer = "*"
requests = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3"
