-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
aiohttp==3.9.1; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
annotated-types==0.6.0; python_version >= '3.8'
anyio==4.2.0; python_version >= '3.8'
attrs==23.2.0; python_version >= '3.7'
certifi==2023.11.17; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
distro==1.9.0; python_version >= '3.6'
docstring-parser==0.15; python_version >= '3.6' and python_version < '4.0'
frozenlist==1.4.1; python_version >= '3.8'
h11==0.14.0; python_version >= '3.7'
httpcore==1.0.2; python_version >= '3.8'
httpx==0.26.0; python_version >= '3.8'
idna==3.6; python_version >= '3.5'
instructor==0.4.8; python_version >= '3.9' and python_version < '4.0'
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
multidict==6.0.4; python_version >= '3.7'
openai==1.9.0; python_full_version >= '3.7.1'
pydantic==2.5.3; python_version >= '3.7'
pydantic-core==2.14.6; python_version >= '3.7'
pygments==2.17.2; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
rich==13.7.0; python_full_version >= '3.7.0'
-e git+https://github.com/TheR1D/shell_gpt.git@361d1eabf873442d36583ca79c3144853f02330e#egg=shell-gpt
sniffio==1.3.0; python_version >= '3.7'
tqdm==4.66.1; python_version >= '3.7'
typer==0.9.0; python_version >= '3.6'
typing-extensions==4.9.0; python_version >= '3.8'
urllib3==2.1.0; python_version >= '3.8'
yarl==1.9.4; python_version >= '3.7'
