-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
aiohappyeyeballs==2.4.0; python_version >= '3.8'
aiohttp==3.10.5; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
annotated-types==0.7.0; python_version >= '3.8'
anyio==4.4.0; python_version >= '3.8'
attrs==24.2.0; python_version >= '3.7'
certifi==2024.7.4; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
contourpy==1.2.1; python_version >= '3.9'
cycler==0.12.1; python_version >= '3.8'
datasets==2.21.0; python_full_version >= '3.8.0'
dill==0.3.8; python_version >= '3.8'
distro==1.9.0; python_version >= '3.6'
fastapi==0.112.2
filelock==3.15.4; python_version >= '3.8'
fonttools==4.53.1; python_version >= '3.8'
frozenlist==1.4.1; python_version >= '3.8'
fsspec[http]==2024.6.1; python_version >= '3.8'
h11==0.14.0; python_version >= '3.7'
httpcore==1.0.5; python_version >= '3.8'
httpx==0.27.0; python_version >= '3.8'
huggingface-hub==0.24.6; python_full_version >= '3.8.0'
idna==3.8; python_version >= '3.6'
importlib-metadata==8.4.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
jiter==0.5.0; python_version >= '3.8'
joblib==1.4.2; python_version >= '3.8'
jsonschema==4.23.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
kiwisolver==1.4.5; python_version >= '3.7'
litellm==1.44.5; python_version not in '2.7, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7' and python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
matplotlib==3.9.2
mpmath==1.3.0
multidict==6.0.5; python_version >= '3.7'
multiprocess==0.70.16; python_version >= '3.8'
networkx==3.3; python_version >= '3.10'
numpy==2.1.0; python_version >= '3.10'
nvidia-cublas-cu12==12.1.3.1; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-cupti-cu12==12.1.105; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-nvrtc-cu12==12.1.105; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-runtime-cu12==12.1.105; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cudnn-cu12==9.1.0.70; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cufft-cu12==11.0.2.54; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-curand-cu12==10.3.2.106; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusolver-cu12==11.4.5.107; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusparse-cu12==12.1.0.106; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nccl-cu12==2.20.5; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nvjitlink-cu12==12.6.20; python_version >= '3'
nvidia-nvtx-cu12==12.1.105; platform_system == 'Linux' and platform_machine == 'x86_64'
openai==1.42.0; python_full_version >= '3.7.1'
packaging==24.1; python_version >= '3.8'
pandarallel==1.6.5
pandas==2.2.2; python_version >= '3.9'
pillow==10.4.0; python_version >= '3.8'
psutil==6.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyarrow==17.0.0; python_version >= '3.8'
pydantic==2.8.2; python_version >= '3.8'
pydantic-core==2.20.1; python_version >= '3.8'
pyparsing==3.1.4; python_full_version >= '3.6.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.1; python_version >= '3.8'
pytz==2024.1
pyyaml==6.0.2; python_version >= '3.8'
referencing==0.35.1; python_version >= '3.8'
regex==2024.7.24; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
routellm[eval,serve]==0.2.0
rpds-py==0.20.0; python_version >= '3.8'
safetensors==0.4.4; python_version >= '3.7'
scikit-learn==1.5.1; python_version >= '3.9'
scipy==1.14.1; python_version >= '3.10'
setuptools==73.0.1; python_version >= '3.8'
sglang==0.2.13
shortuuid==1.0.13
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.1; python_version >= '3.7'
starlette==0.38.2; python_version >= '3.8'
sympy==1.13.2; python_version >= '3.8'
threadpoolctl==3.5.0; python_version >= '3.8'
tiktoken==0.7.0
tokenizers==0.19.1; python_version >= '3.7'
torch==2.4.0; python_full_version >= '3.8.0'
tqdm==4.66.5; python_version >= '3.7'
transformers==4.44.2; python_full_version >= '3.8.0'
triton==3.0.0; python_version < '3.13' and platform_system == 'Linux' and platform_machine == 'x86_64'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
urllib3==2.2.2; python_version >= '3.8'
uvicorn[standard]==0.30.6
xxhash==3.5.0; python_version >= '3.7'
yarl==1.9.4; python_version >= '3.7'
zipp==3.20.0; python_version >= '3.8'
