[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
matplotlib = "*"
bitstruct = "*"
python-can = "*"
textparser = "*"
diskcache = "*"
argparse_addons = "*"
typing_extensions = "*"
crccheck = "*"
#windows-curses = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]

#[requires]
#python_version = "3"
