[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
#llama-cpp-agent = "*"
llama-cpp-agent = {extras = ["rag"], version = "*"}

[dev-packages]

[requires]
python_version = "3"
