-i https://pypi.org/simple
argcomplete==2.0.0 ; python_version >= '3.6'
bcrypt==4.0.1 ; python_version >= '3.6'
certifi==2022.9.24 ; python_version >= '3.6'
cffi==1.15.1
charset-normalizer==2.1.1 ; python_full_version >= '3.6.0'
colored==1.4.4
commonmark==0.9.1
cryptography==38.0.4 ; python_version >= '3.6'
ecdsa==0.18.0 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
enhancements==0.4.0 ; python_version >= '3.6'
idna==3.4 ; python_version >= '3.5'
packaging==21.3 ; python_version >= '3.6'
paramiko==2.12.0
pycparser==2.21
pygments==2.13.0 ; python_version >= '3.6'
pynacl==1.5.0 ; python_version >= '3.6'
pyparsing==3.0.9 ; python_full_version >= '3.6.8'
pytz==2022.6
pyyaml==6.0 ; python_version >= '3.6'
requests==2.28.1 ; python_version >= '3.7' and python_version < '4'
rich==12.6.0 ; python_full_version >= '3.6.3' and python_full_version < '4.0.0'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
ssh-mitm==2.1.0
sshpubkeys==3.3.1 ; python_version >= '3'
typeguard==2.13.3 ; python_full_version >= '3.5.3'
urllib3==1.26.13 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
