-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
internetarchive==5.0.1
jsonpatch==1.33
jsonpointer==3.0.0
requests==2.32.3
schema==0.7.7
tqdm==4.67.0
urllib3==2.2.3
