[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
pyaranet4 = "*"
bleak = "*"
#requests = "2.31.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3"
