# https://github.com/githubocto/repo-visualizer
name: Generate diagram

# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions

# Start the job on all push #
on:
  push:
    branches: 
      - main
  workflow_dispatch:

permissions: read-all

jobs:
  build:
    name: Generate diagram
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v1
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
          
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v2.4.0
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Update diagram
        uses: githubocto/repo-visualizer@a999615bdab757559bf94bda1fe6eef232765f85 # 0.7.1
        with:
          output_file: "diagram.svg"
