name: Semgrep

on:
  pull_request: {}
  push:
    branches:
    - main
    - master
    paths:
    - .github/workflows/semgrep.yml
  schedule:
  - cron: '0 0 * * 0'

permissions: read-all

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-24.04
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      actions: read
      contents: read      
    #container:
    #  image: returntocorp/semgrep
    if: (github.actor != 'dependabot[bot]')
    
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v1
      with:
        egress-policy: audit
        disable-telemetry: false
        allowed-endpoints: 
          github.com:443
          semgrep.dev:443
          
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.4.2 
    
    - uses: returntocorp/semgrep-action@713efdd345f3035192eaa63f56867b88e63e4e5d
      with:
        publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
        
    # Run Semgrep as CI
    #- run: semgrep ci
    #  env:
    #    SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

    # Run Semgrep and generate SARIF
    #- run: semgrep scan --sarif --output=semgrep.sarif --config=policy
    #  env:
    #    SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    #    SEMGREP_SEND_METRICS: on
        
    - name: Upload SARIF file for GitHub Advanced Security Dashboard
      uses: github/codeql-action/upload-sarif@dd746615b3b9d728a6a37ca2045b68ca76d4841a
      with:
        sarif_file: semgrep.sarif
      if: always()
