name: Semgrep

on:
  pull_request: {}
  push:
    branches:
    - main
    - master
    paths:
    - .github/workflows/semgrep.yml
  schedule:
  - cron: '0 0 * * 0'

permissions: read-all

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-22.04
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      actions: read
      contents: read      
    #container:
    #  image: returntocorp/semgrep
    if: (github.actor != 'dependabot[bot]')
    
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v1
      with:
        egress-policy: audit
        disable-telemetry: false
        allowed-endpoints: 
          github.com:443
          semgrep.dev:443
          
    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
    
    - uses: returntocorp/semgrep-action@7120226e55a1ddb7624bbf600148b716c82f2745
      with:
        publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
        
    # Run Semgrep as CI
    #- run: semgrep ci
    #  env:
    #    SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

    # Run Semgrep and generate SARIF
    #- run: semgrep scan --sarif --output=semgrep.sarif --config=policy
    #  env:
    #    SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    #    SEMGREP_SEND_METRICS: on
        
    - name: Upload SARIF file for GitHub Advanced Security Dashboard
      uses: github/codeql-action/upload-sarif@83f0fe6c4988d98a455712a27f0255212bba9bd4
      with:
        sarif_file: semgrep.sarif
      if: always()
