# test update mechanism
name: Update

on:
  push:
    branches: 
      - main
    paths:
      - scripts/*
      - .github/workflows/update.yml
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  REPOSITORY: ${{ github.actor }}/${{ github.workflow }} 

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:

  update-docker:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write

    steps:
#      - uses: GitHubSecurityLab/actions-permissions/monitor@bf82d13b9b10051d224345ab9184f5ede0a94289 # v1.0
#        with:
#          config: ${{ vars.PERMISSIONS_CONFIG }} 
      
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
          disable-sudo: false
          disable-telemetry: true

      # checkout with a PAT configured with workflow access to allow the workflow to check changes back in
      - name: Source checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.UPDATE_SECRET }} 
          fetch-depth: 1

#      - uses: chainguard-dev/actions/setup-gitsign@88f70f8cd86f2ab5e0dc1b40f94df0a56ba29db5
      - name: Setup SSH keys
        env:
          BOT_SSH_PRIVATE_KEY: ${{ secrets.JBOT_SSH_PRIVATE_KEY }}
          BOT_SSH_PUBLIC_KEY: ${{ secrets.JBOT_SSH_PUBLIC_KEY }}
        run: |
          mkdir -m 700 -p ~/.ssh
          echo "$BOT_SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          echo "$BOT_SSH_PUBLIC_KEY" > ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519
          chmod 644 ~/.ssh/id_ed25519.pub

      - name: Update Dockerfile versions
        run: |
          git config --global user.name "Jauder Ho Bot"
          git config --global user.email "jauderho-bot@users.noreply.github.com"
          git config --global user.signingkey ~/.ssh/id_ed25519.pub
          git config --global gpg.format ssh
          git config --global commit.gpgsign true
          PAT="${{ github.actor }}/${{ secrets.UPDATE_SECRET }}" scripts/updateDockerDeps.sh
          rm -rf ~/.ssh

  update-python-uv:
    needs: update-docker
    runs-on: ubuntu-24.04
    permissions:
      id-token: write

    steps:
#      - uses: GitHubSecurityLab/actions-permissions/monitor@bf82d13b9b10051d224345ab9184f5ede0a94289 # v1.0
#        with:
#          config: ${{ vars.PERMISSIONS_CONFIG }} 
      
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
          disable-sudo: false
          disable-telemetry: true

      # checkout with a PAT configured with workflow access to allow the workflow to check changes back in
      - name: Source checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.UPDATE_SECRET }} 
          fetch-depth: 1

#      - uses: chainguard-dev/actions/setup-gitsign@88f70f8cd86f2ab5e0dc1b40f94df0a56ba29db5
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-cache: true
          python-version: 3.13
#          cache-dependency-glob: |
#            "**/requirements*.txt"
#            "**/pyproject.toml"
#            "**/uv.lock"

      - name: Setup SSH keys
        env:
          BOT_SSH_PRIVATE_KEY: ${{ secrets.JBOT_SSH_PRIVATE_KEY }}
          BOT_SSH_PUBLIC_KEY: ${{ secrets.JBOT_SSH_PUBLIC_KEY }}
        run: |
          mkdir -m 700 -p ~/.ssh
          echo "$BOT_SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          echo "$BOT_SSH_PUBLIC_KEY" > ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519
          chmod 644 ~/.ssh/id_ed25519.pub

      - name: Update Python dependencies
        run: |
          git config --global user.name "Jauder Ho Bot"
          git config --global user.email "jauderho-bot@users.noreply.github.com"
          git config --global user.signingkey ~/.ssh/id_ed25519.pub
          git config --global gpg.format ssh
          git config --global commit.gpgsign true
          scripts/updatePythonDepsUV.sh
          rm -rf ~/.ssh

  update-python:
    needs: update-python-uv
    runs-on: ubuntu-24.04
    permissions:
      id-token: write

    steps:
#      - uses: GitHubSecurityLab/actions-permissions/monitor@bf82d13b9b10051d224345ab9184f5ede0a94289 # v1.0
#        with:
#          config: ${{ vars.PERMISSIONS_CONFIG }} 
      
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
          disable-sudo: false
          disable-telemetry: true

      # checkout with a PAT configured with workflow access to allow the workflow to check changes back in
      - name: Source checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.UPDATE_SECRET }} 
          fetch-depth: 1

#      - uses: chainguard-dev/actions/setup-gitsign@88f70f8cd86f2ab5e0dc1b40f94df0a56ba29db5
      - name: Setup SSH keys
        env:
          BOT_SSH_PRIVATE_KEY: ${{ secrets.JBOT_SSH_PRIVATE_KEY }}
          BOT_SSH_PUBLIC_KEY: ${{ secrets.JBOT_SSH_PUBLIC_KEY }}
        run: |
          mkdir -m 700 -p ~/.ssh
          echo "$BOT_SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          echo "$BOT_SSH_PUBLIC_KEY" > ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519
          chmod 644 ~/.ssh/id_ed25519.pub

      - name: Update Python dependencies
        run: |
          git config --global user.name "Jauder Ho Bot"
          git config --global user.email "jauderho-bot@users.noreply.github.com"
          git config --global user.signingkey ~/.ssh/id_ed25519.pub
          git config --global gpg.format ssh
          git config --global commit.gpgsign true
          scripts/updatePythonDeps.sh
          rm -rf ~/.ssh


