# test update mechanism
name: Update macOS

on:
  push:
    branches: 
      - main
    paths:
      - scripts/*
      - mlx/*
      - .github/workflows/update-macos.yml
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  REPOSITORY: ${{ github.actor }}/${{ github.workflow }} 

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:

  update-python:
    runs-on: macos-26
    permissions:
      id-token: write

    steps:
#      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
#        with:
#          config: ${{ vars.PERMISSIONS_CONFIG }} 
      
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
          disable-sudo: false
          disable-telemetry: true

      # checkout with a PAT configured with workflow access to allow the workflow to check changes back in
      - name: Source checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4.4.2 
        with:
          token: ${{ secrets.UPDATE_SECRET }} 
          fetch-depth: 1

#      - uses: chainguard-dev/actions/setup-gitsign@main

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-cache: true
          python-version: 3.14
#          cache-dependency-glob: |
#            "**/requirements*.txt"
#            "**/pyproject.toml"
#            "**/uv.lock"

      - name: Setup SSH keys
        env:
          BOT_SSH_PRIVATE_KEY: ${{ secrets.JBOT_SSH_PRIVATE_KEY }}
          BOT_SSH_PUBLIC_KEY: ${{ secrets.JBOT_SSH_PUBLIC_KEY }}
        run: |
          mkdir -m 700 -p ~/.ssh
          echo "$BOT_SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          echo "$BOT_SSH_PUBLIC_KEY" > ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519
          chmod 644 ~/.ssh/id_ed25519.pub

      - name: Update Python dependencies
        run: |
          git config --global user.name "Jauder Ho Bot"
          git config --global user.email "jauderho-bot@users.noreply.github.com"
          git config --global user.signingkey ~/.ssh/id_ed25519.pub
          git config --global gpg.format ssh
          git config --global commit.gpgsign true
          scripts/updatePythonDepsArm.sh
          rm -rf ~/.ssh
