-i https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
aiohttp==3.8.4 ; python_version >= '3.6'
aiosignal==1.3.1 ; python_version >= '3.7'
anyio==3.7.0 ; python_version >= '3.7'
async-timeout==4.0.2 ; python_version >= '3.6'
async-tio==1.3.2 ; python_version >= '3.8'
attrs==23.1.0 ; python_version >= '3.7'
certifi==2023.5.7 ; python_version >= '3.6'
cffi==1.15.1
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
curl-cffi==0.5.6 ; python_version >= '3.7'
frozenlist==1.3.3 ; python_version >= '3.7'
h11==0.14.0 ; python_version >= '3.7'
httpcore==0.17.2 ; python_version >= '3.7'
httpx[socks]==0.24.1 ; python_version >= '3.7'
idna==3.4 ; python_version >= '3.5'
multidict==6.0.4 ; python_version >= '3.7'
openai==0.27.8 ; python_full_version >= '3.7.1'
openaiauth==1.0.2
prompt-toolkit==3.0.38 ; python_full_version >= '3.7.0'
pycparser==2.21
pysocks==1.7.1
regex==2023.6.3 ; python_version >= '3.6'
requests[socks]==2.31.0 ; python_version >= '3.7'
revchatgpt==6.1.0
sniffio==1.3.0 ; python_version >= '3.7'
socksio==1.0.0
tiktoken==0.4.0 ; python_version >= '3.8'
tqdm==4.65.0 ; python_version >= '3.7'
typing-extensions==4.6.3 ; python_version >= '3.7'
urllib3==2.0.2 ; python_version >= '3.7'
wcwidth==0.2.6
yarl==1.9.2 ; python_version >= '3.7'
